<div class="container d-flex flex-column justify-content-center vh-100">
  <h1 id="standard-address">standard-address</h1>
<p>веб-сервис с клиентской частью, который выполняет стандартизацию адреса при помощи сервиса Dadata. API вызова <a href="https://dadata.ru/api/clean/address/">https://dadata.ru/api/clean/address/</a></p>
<h3 id="-">Серверная часть:</h3>
<p>ASP.NET Core/C# приложение.
Основной задачей является прием «сырого» адреса от клиентской части, формирование запроса к Dadata и возврат полученной модели клиенту.</p>
<ul>
<li>использование DI</li>
<li>использование Automapper</li>
<li>корректная работа с HttpClient (IHttpClientFactory)</li>
<li>работа с файлами конфигурации</li>
<li>обработка ошибок</li>
<li>логгирование</li>
</ul>
<h3 id="-">Клиентская часть:</h3>
<p>Клиентская часть выполняется в виде SPA Angular приложения.
Приложение содержит 2 страницы:</p>
<ol>
<li>Главная. Содержит окно для ввода сырого адреса и кнопку «Отправить». Результатом работы является выдача поля “result” модели результата, либо информации об ошибке. Для формирования приемлемого интерфейса предлагается использовать bootstrap. Дать возможность передать GET параметр “query”. В случае, если параметр передан - он отображается в окне ввода и сразу происходит запрос к серверу.</li>
<li><p>Помощь. Страница со статическим текстом. Нужна нам для получения простейшего, но рабочего роутинга.</p>
</li>
<li><p>роутинг, работа с серверной частью - средствами AngularJS</p>
</li>
<li>DI</li>
<li>простейшая валидация на клиенте (required)</li>
<li>работа с 2-way binding моделями</li>
<li>бонусом: использовать NgRx <a href="https://ngrx.io/">https://ngrx.io/</a></li>
</ol>
<h3 id="-">Результат:</h3>
<p>Результат представляется в виде моно-репозитория. Клиент и сервер запускаются раздельно. Сервер обеспечивает соответствующую CORS политику. Адрес API в клиенте конфигурируется при помощи environment файлов.</p>

</div>
